go 1.24.0

use (
	./adx
	./bench
	./bytex
	./chanx
	./data
	./filex
	./ifx
	./jsonx
	./kvstore
	./kvstore/badger
	./kvstore/sqlite3
	./mongo
	./netx
	./ortb
	./randx
	./reflectx
	./syncx
	./tests
	./timex
	./wal
)
